# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
node_modules
dist
dist-ssr
*.local
tree.txt
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Ignore Terraform state files and backups
*.tfstate
*.tfstate.backup

# Ignore Terraform crash logs
crash.log

# Ignore Terraform lock files
.terraform.lock.hcl

# Ignore Terraform working directory
.terraform/

# Ignore Terraform variables if they contain secrets
terraform.tfvars
terraform.tfvars.json
